@model LactafarmaAPI.ViewModels.Demo.ContactViewModel
<h1>This is my Contact Form</h1>

<form>
    <label asp-for="Name">
        Name
    </label>
    <input asp-for="Name" />
    <label asp-for="Email">Email</label>
    <input asp-for="Email" type="email"/>
    <label asp-for="Message">Message</label>
    <textarea asp-for="Message" cols="40" rows="4"></textarea>
    <div><input type="submit" value="Send Message" /></div>
</form>